<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit instructor Course</title>
</head>
<body>
    <div class="bg-gray-50 font-[sans-serif]">
        <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
          <div class="max-w-md w-full">
            <div class="p-8 rounded-2xl bg-white shadow">
              <h2 class="text-gray-800 text-center text-2xl font-bold">Edit Instructor's Course</h2>
              <% if (errors) { %>
                <div class="bg-red-100 text-red-800 p-4 rounded-lg mb-10" role="alert">
                    <strong class="font-bold text-sm mr-4">Error!</strong>
                    <span class="block text-sm sm:inline max-sm:mt-2"><%= errors %></span>
                  </div>
              <% } %>
              <form method="post" action="/instructor/course/edit/<%= data.id %>" class="mt-8 space-y-4">
                <div>
                  <label class="text-gray-800 text-sm mb-2 block">Course Name</label>
                  <div class="relative flex items-center">
                    <input name="name" value="<%= data.name %>" type="text"  class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Enter user name" />
                  </div>
                </div>
                <div>
                  <label class="text-gray-800 text-sm mb-2 block">Description</label>
                  <div class="relative flex items-center">
                    <input name="description" value="<%= data.description %>" type="text"  class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Enter user name" />
                  </div>
                </div>
                <div>
                  <label class="text-gray-800 text-sm mb-2 block">Duration</label>
                  <div class="relative flex items-center">
                    <input name="duration" value="<%= data.duration %>" type="text"  class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Enter user name" />
                  </div>
                </div>
                <div>
                  <label class="text-gray-800 text-sm mb-2 block">Select Category</label>
                  <div class="relative flex items-center">
                    <select name="CategoryId" id=""  class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600">
                        <% data2.forEach(element => { %>
                            <option <%= (data.CategoryId === element.id?"selected":"") %> value="<%= element.id %>" class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600"><%= element.name %></option>
                        <% }) %>
                    </select>
                  </div>
                </div>
                <div class="!mt-8">
                  <button type="submit" class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
</body>
</html>